@media(max-width:900px) {

  .cabecalho {
      flex-direction: column;
  }

  .cabecalho nav {
      flex-wrap: nowrap;
      height: auto;
  }

  .cabecalho a {
      padding: 2.5vh 0;
      font-size: 2rem;
  }

}