@media(max-width:768px) {

    
    .cabecalho {
        flex-direction: column;
    }

    .cabecalho nav {
        flex-wrap: nowrap;
        height: auto;
    }

    .cabecalho a {
        padding: 2vh 0;
        font-size: 2rem;
    }

    .conteudo > div p{
        font-size: 1.6em;
        background-color: #77caa8;
    }

}