@media(max-width:630px) {

    .cabecalho {
        flex-direction: column;
    }

    .cabecalho nav {
        flex-wrap: nowrap;
        height: auto;
    }

    .cabecalho a {
        padding: 1vh 0;
        font-size: 1rem;
    }
}