.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #77caa8;
  }
  
  .cabecalho nav{
    display: flex;
    justify-content: space-around;
    width: 60vw;
    height: 45vh;
    flex-wrap: wrap;
  }
  
  .cabecalho img{
    width: 300px;
    max-width: 300px;
  }
  
  .cabecalho a{
    text-decoration: none;
    font-size: 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 20vh 0;
  }
 

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/* 
    Código importado do FIGMA
*/
 

/* .cabecalho > h1{
    font-family: 'Inter', sans-serif;
    float: left;
    width: 345px;
    height: 200px;
    background-color: #64a376;
    padding: 65px 20px;
    font-size: 61px;
    text-align: center;
    
}

.cabecalho>nav {
    float: right;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    display: flexbox;
    padding: 0px 20px;
} */

/* .menu ul li a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 73px;
    font-size: 40px;
    background-color: #64a376;
    text-align: center;
    display: inline-block;
    padding: 60px 50px;
    height: 200px;
    width: 266px;
    border-radius: 0px;
    
    
} */





  