
.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #77caa8;
  }
  
  .rodape nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .rodape nav img{
    width: 100px;
    display: block;
    margin: auto;
  }
  
  .rodape nav a{
    padding: 50px 10px;
    width: 50%;
    height: inherit;

  } 
  
  .rodape nav a:hover{
    background-color: #151313bb;
  }
 
    .fixarRodape {
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
    }
    
    #page-container {
        position: absolute;
        min-height: 100vh;
      }
      
      #content-wrap {
        padding-bottom: 3rem;    /* altura do rodapé */
      }
      
      #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;            /* altura do rodapé */
      }

      .rodape p {
        display: block;
        margin-block-start: 1px;
        margin-block-end: 1px;
        margin-inline-start: 0px;
        margin-inline-end: px;
        color: #2c2c2c;
        margin: 0;
        padding: 0;
        font-family: 'FAMILY_NAME';
        font-style: NORMAL_OR_ITALIC;
        font-weight: NUMERIC_WEIGHT_VALUE;
        src: url(FONT_FILE_NAME.woff2) format('woff2');;
      }
